.ikonkar {
  width: 20% !important;
  margin: 20px 0px 0px;
  position: relative;
  left: 41%;
}

h1.couple {
  font-size: 80px !important;
  text-transform: capitalize !important;
  font-weight: 400;
  line-height: 1.2 !important;
  letter-spacing: 0px !important;
  font-family: "Nickainley", cursive;
}
.date {
  font-size: 20px !important;
  line-height: 1.4 !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 767px) {
  h1.couple {
    font-size: 50px !important;
  }
  h1.date {
    font-size: 25px !important;
  }
}

.loader {
  background-color: #e1d9c0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99999999999;
  margin-top: 0px;
  top: 0px;
}

.btnn {
  position: absolute;
  top: 78%;
  left: 50%;
  width: 20;
  /* height: 39px; */
  margin-top: -40px;
  margin-left: -120px;
  font-size: 30px;
  padding: 5px 45px;
  border: 16px;
  border-radius: 5px;
  background: #1e74d2;
  box-shadow: 0 0 0 0 #1e74d2;
  animation: pulse-blue 2s infinite;
  /* background-color: #1E74D2; */
  /* border-radius: 50%; */
  color: white;
}

@keyframes pulse-blue {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #1e74d1;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
  }
}
